/* ofeyhong : Mon, 06 Aug 2018 07:25:27 +0800 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0;padding:0;}
table {border-collapse:collapse;border-spacing:0;}
fieldset,img {border:0;}
address,caption,cite,code,dfn, th,var {font-style:normal;font-weight:normal;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal;}
q:before,q:after {content:'';}
abbr,acronym {border:0;}
pre{font-size: 1em ;}
.article-content{width:680px; _height: 1% ;  overflow: hidden ;  _overflow: none;}
.article-content p{margin-bottom: 1em;}
.article-content li{list-style-type: disc; margin-left:20px;}
.article-content ol li{list-style-type: decimal; margin-left:30px;}

a {text-decoration: none;outline:none;}
br{letter-spacing: normal;}
/*--------------------------all setting*/
HTML {
SCROLLBAR-FACE-COLOR:  ;
SCROLLBAR-HIGHLIGHT-COLOR: ;
SCROLLBAR-SHADOW-COLOR: ;
SCROLLBAR-3DLIGHT-COLOR:  ;
SCROLLBAR-ARROW-COLOR: ;
SCROLLBAR-TRACK-COLOR:  ;
SCROLLBAR-DARKSHADOW-COLOR: ;
overflow-x:;	}
body {
font-size:15px;
font-family:arial, Century Gothic;
line-height: 160%;
}
#blog-main{}
#article-main{}
a {color:#333;}
a:hover {color:#666;}
#body-div{
}
/*--------------------------authority*/
#authority{
position:absolute;
left: 0;
top: -30px;
z-index:9000;
}
#authority a{
display:block;
float: left;
height: 20px;
line-height: 20px;
font-size: 12px;
border:1px solid #a4deee;
padding: 1px 5px 1px 25px;
color:#fff;
}
#authority a#newpost {
background:url(http://pic.pimg.tw/pixnetvisual/49d8d807c7bb1.png) 5px center no-repeat #3d93cc;
margin-right:5px;
}
#authority a#backstage {
background:url(http://pic.pimg.tw/pixnetvisual/49d8d8086694a.png) 5px center no-repeat #3d93cc;
}
#authority a:hover{
color:#235e7f;
border:1px solid #9acfde;
}
/*--------------------------container*/
#container{}
#container2{}
#container3{position:relative;}
/*--------------------------header*/
#header{
}
#login-bar{
position:absolute;
right:0;
top: -20px;
color:#333;
}
#login-bar a{color:#333; padding:0px 1px}
#login-bar a:hover{color:#333;}
#banner{}
#banner h1 a{
position:absolute;
top: 35px;
left: 35px;
font-size:28px;
font-weight:bold;
color:#235e7f;
display:block;
height: 70px;
overflow:hidden;
color:white;
margin-bottom:5px;
margin-top:5px;
line-height:100%;
}
#banner h1 a:hover{color:#fff;}
#banner h2{
position:absolute;
top: 74px;
left: 37px;
color:#efefef;
width: 850px;
height: 45px;
font-size:15px;
line-height: 20px;
overflow:hidden;
color:white;
letter-spacing:1px;
}
#banner .skiplink{display: none;}
#banner #blog-category{
color:white;
position:absolute;
right: 20px;
top: 95px;
z-index:900;
}
#banner #blog-category a{color:white;}
#banner #blog-category a:hover{color:#98D6FF;}
/*--------------------------navigation*/
#navigation{
position:absolute;
right:0px;
top:20px;
}
#navigation li{
float:left;
text-align:center;
background:white;
height:70px;
width:70px;
padding:0px;
margin-right:15px;
line-height: 30px;
*line-height: 35px;
border-radius:50%;
}
#navigation a{
font-size:15px;
color:#2e7eab;
position: relative;
top: 30%;
transform: translateY(-30%);
}
#navigation a:hover{
color:#e5004f;
}
#link-guestbook{display:none;}
#link-album{display:none;}
#link-blog{display:none;}
#link-profile{letter-spacing:2px;display:none;}

#navigation li#link-album a{}
#navigation li#link-blog a{}
#navigation li#link-guestbook a{}
#navigation li#link-profile a{}
/*--------------------------main*/
#main{

margin-top:0px;
padding-top:15px;
background:white;
overflow: hidden;
_overflow: none;

_height: 1%;
}
/*--------------------------content*/
#content{
width: 690px; 
float: right ;
position:relative ;
left: -265px; 
overflow:hidden ;


}
#spotlight{
width: 590px;
margin:10px auto;
background:url(http://pic.pimg.tw/pixnetvisual/49dacf48e08b3.png) left top repeat-y;
}
#spotlight h5{
background:url(http://pic.pimg.tw/pixnetvisual/49dacf48b2e25.png) left top no-repeat;
height: 31px;
padding-left: 10px;
color:#2e7eab;
font:bold 13px arial;
line-height:30px;
}
#spotlight-text{
padding: 10px;
color:#369;
background:url(http://pic.pimg.tw/pixnetvisual/49dacf493da6f.png) left bottom no-repeat;
}
#article-area{
/*width: 665px;
margin:0 auto;
*/
position:relative;
z-index:500;
width:720px;
margin:0 auto;
}
#article-area .article-area-title{
margin-top:5px;
font-size:12pt;
position:relative;
/*color:#0971b2;*/
color:#ff4c5a;
}
#view-mode{
font-size:12pt;
position:absolute;
margin-left:450px;
top:0px;

}
#view-mode a{
color:#0971b2;
font-weight:bold;
}
#view-mode a:hover{
color:#ee2131;
}
#display{
color:#333;}
#display SPAN {}
#article-box{}
.article{
margin-top: 15px;
margin-bottom: 20px;
}
.article-head{
/*height: 39px;*/
position: relative;


}
.publish {
font: 10px arial;
text-transform: uppercase;
color: #333;
position: absolute;
top: 5px;
left: 15px;
height:30px;
width: 60px;
overflow:hidden;
text-align: left;
}
.publish .month,
.publish .date{
font-size:15px;
font-weight: bold;
-webkit-font-smoothing: antialiased;
font-family: Arial,"微軟正黑體";
letter-spacing: .05em;
height:15px;
color:#333;
}
.publish .day{
display:none;

}
.publish .year{
top:-2px;
position:relative;
font-size:12px;
}
.publish .time{display:none;}
.title{
/*height: 25px;*/
padding-top: 5px;
padding-top: 7px !important;
margin-left: 105px;
width: 570px;
overflow: hidden;
/*white-space: nowrap;
text-overflow: ellipsis;
*/
color:white;
padding-bottom:8px;
}
.title a{
/*white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;*/
font-size: 20px;
font-weight:bold;
color:white;
letter-spacing:1px;
}
.title a:hover{color:#fffabe;}
.article-body{
margin: 10px 0;
}

.article-body a{color:#369;}
.article-body a:hover{color:#fe3600;}
.article-content{
width:680px;
margin: 10px 0px 10px 0px;
font-size:16pt;
line-height: 170%;
letter-spacing:0.05em;
color:#444;
text-align:justify;
}

.article-content a{
color:#3682b4;
border-bottom:1px dashed #91b8c1;
padding-bottom:1px;

}
.bookmark,
.author,
.forward{
text-align: right;
color:#666;
line-height:140%;
margin-right:40px;
}
.article-footer{
overflow:hidden;_overflow: none; _height: 1%;
border-top: 1px dashed #ccc;
padding-top:5px;
color:#8a8a8a;
line-height:140%;
}
.history{
float: right;
width: 290px;
}
.refer{
float: left;
width: 650px;
}
.refer a{
color:#8a8a8a;
}
.back-to-top{
clear: both;
text-transform: uppercase;
font: 10px Century Gothic;
letter-spacing:0;
text-align: right;
margin-right:40px;
}
.back-to-top a{
background:#aaa;
padding: 0px 3px;
line-height: 20px;
color:#fff;
}
.back-to-top a:hover{
background:#fff;
color:#ccc;
}
/*--------------------------list*/
.main-list {
width:680px;
margin:10px auto;
margin-left:0px;
}
.main-list table{
width: 100%;
margin: 10px auto;
}
.main-list h3 {}
.main-list th{
line-height: 25px;
color:#fff;
background:#91b8c1;
border-bottom: 3px solid #fff;
padding: 2px 5px;
}

.main-list td{
font-size:11pt; *font-size:11pt;
line-height: 25px;
padding: 10px 6px;
background:#eefbff;
border-bottom:1px solid #91b8c1;
}
.main-list td a{color:#0075a9;}
.main-list td a:hover{color:#ff4d1d;}
.list-num{display:none;}
td.list-date {
font: 12px Tahoma;
width: 70px;
color:#000;
letter-spacing:0;
padding: 0 5px;
}
.list-title img{float: right;
margin-left:3px;
}
#murmur-list td.list-date {
padding: 5px;
}
.list-visit,
.list-comment{
width: 40px;
}
/*--------------------------post-box*/
.user-post-box{}
.user-post-title{
background:#3d93cc;
border-radius:3px;
height: 25px;
line-height: 25px;
padding-left: 10px;
color:#fff;
margin: 10px 0;
}
#trackback-box .user-post-title{}
#comment-box .user-post-title{}
.post-comment{
width:90px;
height: 25px;
margin-left: 300px;
margin-bottom:10px;
/*margin: 10px auto 20px;*/
line-height: 25px;
}
#content .post-comment a{
display:block;
font-size:12px;
color:#fff;
height: 100%;
padding-left: 25px;
background:url(http://pic.pimg.tw/pixnetvisual/49d8d812ccfb6.png) 5px center no-repeat #3d93cc;
border:1px solid #a6d0de;
}
#content .post-comment a:hover{
border:1px solid #74afc3;
color:#285974;
}
.single-post{
overflow: hidden;
_overflow: none;
_height: 1%;
width:680px;
background:white;
margin-bottom: 20px;
padding-bottom: 10px;
border:1px solid #d8e9f4;
}
.post-info{
background:white;
height:27px;
font-size:11pt; *font-size:11pt;
line-height: 27px;
margin-bottom: 10px;
color:#555;
position:relative;
padding-left: 45px;
_padding-top: 5px;
}
.post-info img{
vertical-align: middle;
}
.post-info .floor{
width: 40px;
height:25px;
text-align: center;
color:#3d93cc;
font: bold 13px Century Gothic;
line-height:25px;
display: block;
position: absolute;
left:0;
top:0;
}
.post-photo{
width: 95px;
float: left;
margin-left: 20px;
margin-right:22px;
display: inline;
}
.post-photo img{
border:1px solid #ddd;
}
.post-text{
float: left;
width: 536px;
margin-bottom: 10px;
color:#484848;
font-size:13pt;
line-height:150%;
}
.reply-text{
float: right;
width: 465px;
background: url(http://pic.pimg.tw/ofeyhong/1435282660-353707664.png) 5px top no-repeat #e4f5ff;
/*background: url(http://pic.pimg.tw/pixnetvisual/1401158415-747709639.jpg?v=1401158424) 5px top no-repeat #fff;*/
border:1px solid #dcf2f8;
margin-right: 10px;
display:inline;
padding: 5px 8px 5px 58px;
color:#1485cc;
min-height: 30px;
_height: 30px;
background-color:#e4f5ff;
line-height:160%;
font-size:12pt;
}
.reply-text p{
display:none;
}
.reply-text a{
color:#666;
}
.single-post.secret{
background:url(http://pic.pimg.tw/pixnetvisual/4970225ac51bf.png) 5px top no-repeat #fff;
border:1px solid #ccc;
}
.single-post.secret .post-text{
float: none;
width: auto;
padding-left: 70px;
font-size:0; color:#fff;
}
#trackback-box {}
#trackback-box h3 {}
#trackback-box SPAN {}
#trackback-box #trackback-url{
margin: 10px 0;
}
#trackback-box input{
border:1px solid #dcf2f8;
font:11px arial;
padding:2px;
margin-left:5px;
background:#fff;
color:#369
}
#trackback-box input#trackback-input{
width: 350px;
margin:0;
padding:3px
}
#trackback-text {}
#trackback-text .single-post {}
#trackback-text .post-info {}
#trackback-box  .post-text{
width:auto ;
float:none ;
padding: 0 10px;
}
/*--------------------------comment-form 留言區*/
#comment-area{
margin-bottom:20px;
padding-left:100px;
}

#comment-form {
border:1px solid #dcf2f8;
background:#e8f2f5;
padding: 10px 5px;
width: 100%;
margin: 10px auto;
}
#comment-form p {
color: #369;
text-align: right;
margin: 0px 10px 5px;
}
#comment-form table {
width: 100%;
border: none;
}
#comment-form table tr.comment-form-title { display: none; }
#comment-form table td {
color: #999;
vertical-align: top;
border: none;
padding: 2px 5px;
}
#comment-form table th {
color: #999;
vertical-align: top;
width: 70px;
border: none;
padding: 2px 5px;
text-align:right;
}
#comment-form table th font { display: none; }
#comment-form input {
height: 17px;
font-family: Arial;
font-size: 11px;
color: #000;
border: none;
border-bottom: 1px solid #ccc;
background: none;
width: 99%;
}
#comment-form input.radio {
border: none; width: auto;	background: none;margin:0; padding:0;
}
#comment-form input#blogcommenttext_name{
width: 95.5%;
}
#comment-form input#send-comment{
background:#ccc;
width: 100px;
height: 20px;
}
#comment-form textarea {
width:99%;
height: 90px;
font-family: Arial;
font-size: 11px;
line-height: 18px;
color: #000;
border: 1px solid #ccc;
background: #fff;
}



/*--------------------------pages*/
.page{
margin: 10px 0px 30px 0px;
font-size:26px;
font-family: Century Gothic;
text-align: center;
}
.page a{
margin: 0 5px;
color:#555;
padding: 0 3px;
}
.page a:hover,
.page span{
background:#eee;
padding: 0 3px;
color:#33;
}
/*--------------------------links*/
#links{
width:470px ;
float:left;

}


#links-row-1 {
width:215px;
float:left;
margin-left:30px;
overflow:hidden;

}

#links-row-2 {
width: 215px ;
float:right ;
position:relative ;
top: 0px ;
right: -732px; 
overflow: hidden ;
}

.box{
margin: 15px 0;
}
.box-title{
height:28px;
text-align:center;
/*border-bottom:1px solid #d7e5ef;*/
border-bottom:3px solid #d8e9f5;
/*color:#6a99b8;*/
color:#fff;
font-weight:bold;
font-size:16px;
background-color:#388fc7;
line-height:180%;
letter-spacing:2px;

}
.box-text {
font-size:16px;
padding:10px 0px;
text-align:left;
color:#333;
}

.box-text a{color:#555;}
.box-text a:hover{color:#ff3333;}
.box li{
padding: 0;
line-height:150%;
margin-bottom:0.5em;

}
.box h6{
margin-left: 10px;
line-height:200%;
font-weight:bold;
}
.box-more{
margin: 5px 10px;
text-align:right;
}
.box-more a{
border:1px solid #fff;
border-right: 1px solid #b8deea;
border-bottom:1px solid #b8deea;
padding: 1px 3px;
color:#8fc0d1;
}
.box-more a:hover{
border:1px solid #b8deea;
border-right: 1px solid #fff;
border-bottom:1px solid #fff;
}
#box-ad .box-text,
#hiiir .box-text,
#boxevent_clubbroadcast .box-text,
#archive .box-text,
#favorite .box-text{
margin: 0 15px;
}
#headshot {
background:url(http://pic.pimg.tw/pixnetvisual/49dacf27a4d4c.png) left top no-repeat;
width: 250px;
height:105px;
margin: 15px auto;
position: relative;
}
#headshot .box-title{
background:none;
padding: 0 0 0 30px;
}
#headshot .box-text{
padding:0;
margin:0;
}
#headshot ul{	}
#headshot li{background:none;}
#headshot li#headshot-img{
background:none;
width: 75px;
line-height:0;
padding:0;
position: absolute;
top: 15px;
right:20px;
}
#headshot li#headshot-img img{
width:70px;
padding: 2px;
border:1px solid #93d0cc;
background:#d3f3f1;
}
#headshot li#friend-apply{
position:absolute;
top: 33px;
left: 30px;
}
#headshot li#send-message{
position:absolute;
top: 60px;
left:30px;
}
#recent-article{}

#recent-article img{}
#latest-comment {}
#latest-comment a{}
#latest-comment span{
    background-color:#ececec;
    color:#666;
    padding: 0 4px;
    font-size:14px;
}
#calendar{}
#calendar table{
width: 70%;
margin: 0 auto;
}
#calendar th,
#calendar td{
color:#666;
font: 11px Century Gothic;
text-align: center;
line-height: 20px;
}
#calendar td{
padding: 2px 1px;
}
#calendar td a{
display: block;
padding: 0px 1px;
background:#3d93cc;
color:#fff;
border-right:1px solid #d7e5ef;
border-bottom:1px solid #d7e5ef;
}
#murmur{
width: 250px;
margin: 15px auto;
background:#d3f3f1;
position:relative;
}
#murmur .box-title{
background:url(http://pic.pimg.tw/pixnetvisual/49dacf28d6a77.png) left top no-repeat;
height:35px;
padding:0 0 0 27px;
}
#murmur .box-text{
margin:0;
padding: 5px 0;
_height:1%;
}
#murmur .box-text li{
background:none;
}
.murmur-time{
position: absolute;
left:15px;
top:  17px;
font: 10px Century Gothic;
color:#7ebeba;
}
.murmur-text{
padding: 10px !important;
line-height:150% !important;
}
#visitor,
#crumb{}
#visitor ul,#crumb ul{
overflow: hidden;
_overflow: none;
_height: 1%;
margin:5px 2px;
}
#visitor li,#crumb li{
float: left;
margin: 0px 2px 2px 0;
display:inline;
line-height:0;
padding:0;
background:0;
}
#visitor li img,
#crumb li img {
width: 38px;
height: 38px;
}
#visitor .box-more,
#crumb .box-more{
margin-top: 10px;
}
#broadcast{}
#broadcast ul{
overflow: hidden;
_overflow: none;
_height: 1%;
padding-bottom: 3px;
margin-bottom: 5px;
padding: 0px 15px 7px 15px;
background:url(http://pic.pimg.tw/pixnetvisual/49dacf28052b9.png) left bottom no-repeat;
}
#broadcast li{
background:0;
padding:0;
}
#broadcast .broadcast-photo{
float: left;
line-height:0;
}
#broadcast .broadcast-time{
float: right;
width: 185px;
line-height: 20px;
}
#broadcast .broadcast-time a{}
#broadcast .broadcast-time span{}
#broadcast .broadcast-text{
float: right;
width: 185px;
height: 20px;
line-height: 20px;
overflow: hidden;
}
#search{}
#search ul{
overflow: hidden;
_overflow: none;
_height: 1%;
margin: 0;

}
#search li{
float: left;
background:none;
padding:0;
}
#search li input{
border:1px solid #c1d9e8;
font:12px arial;
margin-right: 5px;
line-height: 20px;
padding:2px;
width:120px;
height:22px;

}
#search input#search-target{width: 170px;}
#search input#search-submit{
margin-top:2px;
margin-left:3px;
display:black;
width:25px;
height:25px;
background: url(http://pic.pimg.tw/ofeyhong/1440818465-1367426809.png) no-repeat left top ; 
border:none;text-indent:-5000px;
}
#search input#search-submit:hover{
background-position:0 -25px;
}
/*原來的版本
#search input#search-submit{
padding:1px;
width: 60px;
color:#fff;
background:#569fcf;
}
*/


#feed {}
#feed .box-text{
margin-left:10px;
/*text-align:center;*/
}
#announce{}
#hot-article {}
#hot-article span{
/*color:#6b6b6b;
font-size:10pt;
*/
 background-color:#ececec;
    color:#666;
    padding: 0 4px;
    font-size:14px;
}


#category {}
#category h6{color:#369}
#category ul{margin-bottom: 5px;margin-left:5px;}
#category .box-more {}
#archive select {}
#archive li a{}
#latest-trackback {}
#latest-trackback a{}
#latest-trackback span{}
#subscription{}
#subscription a{}
#subscription span{}
#favorite select {}
#mylink {}
#mylink .inner-box{margin-bottom: 5px;}
#mylink .inner-box h6{color:#369}
#mylink .inner-box li{}
#counter{}
#counter SPAN{}
#latest-comment li,
#subscription li,
#latest-trackback li{
line-height: 150%;
padding: 3px 2px;
}
#latest-comment li{
width:280px;
padding:2px 0px;
font-size:15px;

}
#latest-comment a,
#latest-trackback a,
#subscription a{
display: block;
width: 99%;
}
.folder{}
.folder .box-title{}
.folder .box-text{
margin: 0px 10px;
}
#powered{}
/*--------------------------footer*/
#footer{
clear:both;
/*background:url(http://pic.pimg.tw/ofeyhong/1434604696-3906359814.png) left bottom no-repeat;*/
background:url(http://pic.pimg.tw/ofeyhong/1438497012-71491847.png) left bottom no-repeat;
padding: 20px 10px 0 10px;
height: 73px;
text-align:center;
border-top: 0;
}
#footer a{
color:#fdfdfd;
}
#footer p{color:#fff;}
#bottom {color:#67baf0;}
#bottom a{color:#67baf0}
/*--------------------------extradiv*/
#extradiv11{}
#extradiv10{}
#extradiv9{}
#extradiv8{}
#extradiv7{}
#extradiv6{}
#extradiv5{}
#extradiv4{}
#extradiv3{}
#extradiv2{}
#extradiv1{}
#extradiv0{}
#container{
height:100%;
width:100%;
background: url(http://pic.pimg.tw/pixnetvisual/1401158414-2465358801.jpg?v=1401158424);
padding:10px 0 20px;
}
#container2{
margin:0 auto;
width:1230px;
}
#spotlight{
width: 663px;
margin: 10px auto;
border: 1px solid #d8e9f5;
border-radius: 3px;
background:none;
}
#spotlight-text {
background:none;
}
#spotlight h5{
background:#3d93cc;
border-radius:3px 3px 0 0;
color:white;
}
#header{
background-color:#3d93cc;
/*background:url(http://pic.pimg.tw/ofeyhong/1434604490-1177528916.png) left top no-repeat; */
/*background:url(http://pic.pimg.tw/ofeyhong/1438496701-1810382777.png) left top no-repeat;  原來的版*/
background:url(http://pic.pimg.tw/ofeyhong/1516694867-959665627.png) left top no-repeat;

position:relative;
height:120px;
}
.article-head{
background-color:#3d93cc;
background:url(http://pic.pimg.tw/ofeyhong/1435195558-1961641812.png) left top no-repeat;
}
.box-text a{
color:#336699;}
#user-info .box-text {
text-align:left;}
#container3{
box-shadow: 0 0 10px #ccc;
border-radius:5px;
margin-top:10px;
}

.main-list{
width: 665px;
}
.main-list th{
background: #3d93cc;
border-bottom:none;
}
.main-list td{
background:none;
order-bottom:1px dotted #91b8c1;
}
.title img{
float:right;
}
html{
padding-bottom:0px!important;}

.more{
font-size:14pt;
margin-left:540px;
text-indent:-9999px;
margin-top:-5px;
margin-bottom:5px;
}
.more a{
width:130px;
height:26px;
display:block;
border:none;
background:url(http://pic.pimg.tw/ofeyhong/1438651127-1266819314.png) left top no-repeat;

}

.more a:hover{
background:url(http://pic.pimg.tw/ofeyhong/1438651127-1266819314.png) right top no-repeat;
}


/*facebook粉絲團
-------------------------------------*/
#box222372{
position:absolute;
text-align:center;
/*background:#fff;*/
height:70px;
width:90px;
padding:0px;
border-radius:50%;
top:5px;
/*left:890px;*/
left:862px;
}
#box222372 .box-title{
display:none;
}
#box222372 .box-text{
text-align:center;
line-height:155%;
}
#box222372 .box-text a{
font-size:15px;
color:#2e7eab;
letter-spacing:1px;
}
#box222372 .box-text a:hover{
color:#e5004f; /*fff799*/

}

/*關於我
-------------------------------------*/
#box333319{
position:absolute;
text-align:center;
/*background:white;*/
height:70px;
width:70px;
padding:0px;
border-radius:50%;
top:5px;
/*left:975px;*/
left:962px;
}
#box333319 .box-title{
display:none;
}
#box333319 .box-text{
text-align:center;
line-height:155%;
margin-top:13px;
padding-left:2px;
}
#box333319 .box-text a{
font-size:15px;
color:#2e7eab;
letter-spacing:1px;
}
#box333319 .box-text a:hover{
color:#e5004f;

}





/*找歐飛組電腦
-------------------------------------*/
#box403480{
position:absolute;
text-align:center;
/*background:white;*/
height:70px;
width:90px;
padding:0px;
border-radius:50%;
top:5px;
/*left:1060px;*/
left:1040px;
}
#box403480 .box-title{
display:none;
}
#box403480 .box-text{
text-align:center;
line-height:155%;
margin-top:13px;
padding-left:2px;
}
#box403480 .box-text a{
font-size:15px;
color:#2e7eab;
letter-spacing:1px;
}
#box403480 .box-text a:hover{
color:#e5004f;

}

/*找歐飛修電腦
-------------------------------------*/
#box411721{
position:absolute;
text-align:center;
/*background:white;*/
height:70px;
width:90px;
padding:0px;
border-radius:50%;
top:5px;
/*left:1145px;*/
left:1130px;
}
#box411721 .box-title{
display:none;
}
#box411721 .box-text{
text-align:center;
line-height:155%;
margin-top:13px;
padding-left:2px;
}
#box411721 .box-text a{
font-size:15px;
color:#2e7eab;
letter-spacing:1px;
}
#box411721 .box-text a:hover{
color:#e5004f;

}


/*名片的細節
-------------------------------------*/
#box500790{
position:relative;
margin-top:25px;
margin-bottom:70px;
}
#box500790 .box-title{
display:none;
}

#box500790 .box-text {
position:absolute;
/*left:-10px;*/
top:-40px;

}

#box500790 .box-text p{
margin-bottom:5px;

}




/*線上人數
-------------------------------------*/
#box222255{
position:relative;
margin-bottom:25px;
}
#box222255 .box-title{
display:none;
}

#box222255 .box-text {
position:absolute;
left:121px;
/*left:-10px;*/
top:-40px;
margin-bottom:10px;
}

.ng-scope{
width:500px;
}



/*我要組電腦
-------------------------------------*/
#box414682 p{
margin-bottom:3px;
}

/*我要修電腦
-------------------------------------*/
#box431674 p{
margin-bottom:3px;
}

/*新來的朋友看這裡
-------------------------------------*/
#box435472 p{
margin-bottom:3px;
}

/*建議閱讀
-------------------------------------*/
#box474082 p{
margin-bottom:3px;
}

/*創作者
-------------------------------------*/
.author-profile{
display:none;
border-bottom:1px solid #fafafa;
border-left:2px solid #d2d2d2;
padding-bottom:10px;
padding-left:5px;
}


/*google 流量
-------------------------------------*/
#box371653{
visibility:hidden;
}



/*標籤
-------------------------------------*/
.article-keyword{
color:#999999;
margin:0;
padding:0;
margin-left:-3px;
}

.tag__header{
float:left;
}
.tag__main{
float:left;
margin-top:3px;

/*padding-top:2px;*/

}
.tag__main a{
color:#fff;
background:#c0c0c0;
padding:0 5px 0;
border:none;

}
.tag__main a:hover{
color:#fff;
background:#35a0da;
}